<div class="single-blog-item">
    <div class="img-holder">
        <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="{{fields.title.content}}">
        <div class="overlay">
            <div class="box">
                <div class="content">
                    <a href="{{fields.view_node.content}}"><i class="fa fa-link"></i></a> 
                </div>
            </div>
        </div>
    </div>
    <div class="text-holder">
        <a href="{{fields.view_node.content}}">
            <h3 class="blog-title">{{fields.title.content}}</h3>
        </a>
        <ul class="meta-info">
            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{fields.uid.content}}</a></li>
            <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">{{fields.created.content}}</a></li>
            <li><i class="fa fa-folder-open-o" aria-hidden="true"></i><a href="#">{{fields.field_blog_categories.content}}</a></li>
        </ul>
        <div class="text">
            <p>{{fields.body.content}}</p>
            <div class="bottom clearfix">
                <div class="readmore pull-left">
                    <a href="{{fields.view_node.content}}">Read More</a> 
                </div>
                <div class="share pull-right">
                    <h5>Share<i class="fa fa-share-alt" aria-hidden="true"></i></h5>
                    <ul class="social-share">
                        <li><a href="http://www.facebook.com/sharer.php?u={{base_root ~ url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/intent/tweet?text={{ title }}&amp;url="><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="http://plus.google.com/share?url={{base_root ~ url}}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{base_root ~ url}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</div>
