



<div class="single-project-item col-md-4 col-sm-4 col-xs-12 filter-item resid commer indus">
    <div class="img-holder">
        <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="{{fields.title.content}}">
        <div class="overlay">
            <div class="box">
                <div class="content">
                    <div class="icon-holder">
                        <a href="{{ file_url(fields.uri.content|striptags|trim) }}" data-rel="prettyPhoto" title="Interrio Project"><span class="flaticon-cross"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-holder">
        <a href="{{fields.view_node.content}}"><h3>{{fields.title.content}}</h3></a>
        <p>{{fields.field_project_category.content}}</p>
    </div>   
</div>











