<!--Start footer area-->  
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {{ page.footer_column_1 }}
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    {{ page.footer_column_2 }}
                    
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                     {{ page.footer_column_3 }}
                    
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>   
<!--End footer area--> 

<!--Start footer bottom area-->   
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="copyright-text">
                   {{page.copyright}}
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="footer-menu">
                    {{page.social_footer}}
                   
                </div>
            </div>
        </div>    
    </div>
</section>    
<!--End footer bottom area-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
