<div class="single-products-details">       
                    <div class="product-content-box">
                        <div class="row">
                            <div class="col-md-6 img-box">
                                
                                    {{content.body}}
                                
                            </div>
                            <div class="col-md-6">
                                <div class="content-box">
                                    <h2>{{ node.getTitle }}</h2>
                                    <div class="review-box">
                                        {{content.field_star_rating.0}}
                                    </div>
                                    <span class="price">{{content.price.0}}<del class="before-rate">{{content.field_old_price.0}}</del></span>
                                    <div class="text">
                                        <p>{{ node.body.summary }}</p>
                                    </div>
                                   
                                    <div class="addto-cart-box">
                                        {{content.add_to_cart}}
                                    </div>    
                                </div>
                            </div>
                        </div>   
                    </div>
                
                    {#<div class="product-tab-box">
                        <ul class="nav nav-tabs tab-menu">
                            <li><a href="#desc" data-toggle="tab">Descriprion</a></li>
                            <li><a href="#info" data-toggle="tab">Information</a></li>
                            <li class="active"><a href="#review" data-toggle="tab">Reviews (2)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="desc">
                                <div class="product-details-content">
                                    <div class="desc-content-box">
                                        <p>Bedroom lamps reflects the design philosophy of form following function prevalent in modernism. These designs represent the ideals of cutting excess, practicality and an absence of decoration. These forms of lamps are visually light and follow minimalist principles of design which are influenced by architectural concepts like the cantilever. Modern lamps fits best in open floor plans with clean lines that thrive in the absence of clutter. A one stop shop for home decor and furniture, Interior sells a home product every 30 seconds.</p>
                                        <p>Bedroom lamps let you fine-tune the atmosphere of a room in more ways than one. They give you additional light where you need it while also adding a bit of personality. Ours are available in a wide selection of styles to add a little extra color, texture and light to your home.</p>
                                    </div>

                                </div>    
                            </div>
                            <div class="tab-pane" id="info">
                                <div class="product-info-content">
                                    <ul class="info-list">
                                        <li><span>Brand:</span> CasaCraft</li>
                                        <li><span>Total Dimensions (LxBxH Inches):</span> 8x 5x 23</li> 
                                        <li><span>Shade Material:</span> Jute</li>    
                                        <li><span>Shade Colour:</span> Natural</li>    
                                        <li><span>Base Height:</span> 17</li>    
                                        <li><span>Base Material:</span> Mango wood</li>    
                                        <li><span>Base Colour:</span> Brown</li>    
                                        <li><span>Holder & Plug type:</span> E-27 Holder & 2 Pin Flat Plug</li>     
                                    </ul>
                                </div>    
                            </div>
                            <div class="tab-pane active" id="review">
                                <div class="review-box">
                                    <div class="sec-title-two">
                                        <h3>2 Reviews For Bedroom Lamp</h3>
                                    </div>
                                    <!--Start single review box-->
                                    <div class="single-review-box">
                                        <div class="img-holder">
                                            <img src="images/shop/review-1.jpg" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <div class="top">
                                                <div class="name pull-left">
                                                    <h4>Steven Rich – Sep 17, 2016:</h4>
                                                </div>
                                                <div class="review-box pull-right">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single review box-->
                                    <!--Start single review box-->
                                    <div class="single-review-box">
                                        <div class="img-holder">
                                            <img src="images/shop/review-2.jpg" alt="Awesome Image">
                                        </div>
                                        <div class="text-holder">
                                            <div class="top">
                                                <div class="name pull-left">
                                                    <h4>William Cobus – Aug 21, 2016:</h4>
                                                </div>
                                                <div class="review-box pull-right">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="text">
                                                <p>there anyone who loves or pursues or desires to obtain pain itself, because it is pain, but because occasionally circumstances occur some great pleasure.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single review box-->   
                                </div>
                                <div class="review-form">
                                    <div class="sec-title-two">
                                        <h3>Add Your Review</h3>
                                    </div>
                                    <div class="add-rating-box">
                                        <div class="add-rating-title">
                                            <h4>Your Rating</h4>    
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>   
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="field-label">
                                                    <p>First Name*</p>
                                                    <input type="text" name="fname" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="field-label">
                                                    <p>Last Name*</p>
                                                    <input type="text" name="lname" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="field-label">
                                                    <p>Email*</p>
                                                    <input type="text" name="email" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="field-label">
                                                    <p>Your Review*</p>
                                                    <textarea name="review" placeholder=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="thm-btn bg-cl-1" type="submit">Submit Now</button>
                                            </div>
                                        </div>
                                    </form>  
                                </div>
                            </div>

                        </div>      
                    </div>#}
                
                    <!--Start related product -->
                    {#<div class="related-product">
                        <div class="sec-title-two">
                            <h3>Related Products</h3>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <div class="related-product-items">
                                <!--Start single product item-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-shop-item">
                                        <div class="img-holder">
                                            <img src="images/shop/4.jpg" alt="Awesome Image">
                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="shop-single.html">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title-holder">
                                            <div class="top clearfix">
                                                <div class="product-title pull-left">
                                                    <h5>Birdcadge Tree</h5>
                                                </div>
                                                <div class="review-box pull-right">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>$24.00</h4>
                                        </div>
                                    </div>
                                </div>
                                <!--End single product item-->
                                <!--Start single product item-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-shop-item">
                                        <div class="img-holder">
                                            <img src="images/shop/5.jpg" alt="Awesome Image">
                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="shop-single.html">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title-holder">
                                            <div class="top clearfix">
                                                <div class="product-title pull-left">
                                                    <h5>Stackable Table</h5>
                                                </div>
                                                <div class="review-box pull-right">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>$20.00</h4>
                                        </div>
                                    </div>
                                </div>
                                <!--End single product item-->
                                <!--Start single product item-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="single-shop-item">
                                        <div class="img-holder">
                                            <img src="images/shop/6.jpg" alt="Awesome Image">
                                            <div class="overlay">
                                                <div class="box">
                                                    <div class="content">
                                                        <a href="shop-single.html">Add to Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title-holder">
                                            <div class="top clearfix">
                                                <div class="product-title pull-left">
                                                    <h5>Mountain Leaves</h5>
                                                </div>
                                                <div class="review-box pull-right">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-half-o"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>$19.99<del class="before-rate">$29.00</del></h4>
                                        </div>
                                    </div>
                                </div>
                                <!--End single product item-->
                            </div>
                        </div>
                    </div>#}
                    <!--End related product -->
                </div>   
