<!--Start single blog item-->
<div class="col-md-4">
    <div class="single-blog-item">
        <div class="img-holder">
            <img src="{{ file_url(fields.uri.content|striptags|trim) }}" alt="{{fields.title.content}}">
            <div class="overlay">
                <div class="box">
                    <div class="content">
                        <a href="{{fields.view_node.content}}"><i class="fa fa-link"></i></a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="text-holder">
            <a href="{{fields.view_node.content}}">
                <h3 class="blog-title">{{fields.title.content}}</h3>
            </a>
           
        <ul class="meta-info">
            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">{{fields.uid.content}}</a></li>
            <li><i class="fa fa-clock-o" aria-hidden="true"></i><a href="#">{{fields.created.content}}</a></li>
        </ul>
            <div class="text">
                <p>{{fields.body.content}}</p>
                <a class="readmore" href="{{fields.view_node.content}}">Read More<i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </div>
        </div>    
    </div>    
</div>
<!--End single blog item-->





















